.basmati-heading{
    margin-top: 5%;
    text-align: center;
}
.basmati-subheading{
    text-align: center;
    /* text-decoration: underline; */

}
.hr_contet{
    border-top: 2px solid black;
    margin-left: 23%;
    margin-right: 23%;
}
.hr_contet_main{
    border-top: 2px solid black;
    margin-left: 26%;
    margin-right: 26%;
}
.hr_contet-non{    
    border-top: 2px solid black;
    margin-left: 19%;
    margin-right: 19%;
}
.content-info{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;    
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.3vw;

}
.rice_product{
    display: flex;
    width: 100%                                                                                                    ;
}
.rice_img{
    margin:2%;
    width: 30%;
    height: 70vh;
}
.rice_product_info{
    width: 66%;
    height: auto;
    height: 80vh;
    padding: 2%;
}
.rice_img img {
    border: red solid 2px; 
    width: 30vw;   
    height: 40vh;
    margin-top: 15%;
}
.rice_product_description h4{
    text-align: center;
}
table, th, td {
  border: 1px solid black;
  /* border-collapse: collapse; */
}
th{
    width: 20%;
}