main{
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  z-index: 1;
  
}
*{
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}
.welcome{
  color: darkgreen;
  font-family: serif;
  font-size: 3vw;
}
.textContent{
  color: darkolivegreen;
  font-size: 1.5vw;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  /* font:italic; */
}

/* .main_images img{
  width:100%;
   height: 100%;
   border: 2px solid pink;
} */


@media screen and (max-width: 550px) {
  .main_images img,.item, .active {
    width: 100vw;
    height: 50vh;
    border: 1px solid pink
  }
  .textContent{
    font-size: 2vw;
  }
}