*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
}
.upperHeader{
    background:linear-gradient(lightblue , white);
    /* background-color: blue; */
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.lowerHeader{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    width: 100%;
    height: 100px;
}
.company_logo{
    position: relative;left: 10%; top: 15%;
}
.upperHeader h1{
    font-family: Georgia, 'Times New Roman', Times, serif;color: green;
    position: relative;left: 20%;top: 25%;
}
.contact_us{
    width: auto;
    position: relative;left: 30%;
}
.contact_us h4{
    padding-top: 20px;
    font-family: cursive;
    color: mediumblue;
    position: relative;
    text-align: center;
}
._social_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social_icon{
    /* display: flex;
    justify-content: space-around; */
    margin-left: 20px;
    width: 40px; height: 30px;
    transition: transform 2s;
    /* z-index: 1; */
}
.social_icon:hover{
    transform: scale(2,2);
}
li{
    list-style-type:none;
    font-size: 30px;

    
    /* align-items: center; */
}

li:hover{
    color: hotpink;
}

nav ul  {
    color: honeydew;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
    
}

main{
    width: 100%; 
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);    
}
footer{
    width: 100%;
    height: 100px;
    padding-top:40px ;
    text-align: center;
    color: lawngreen;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}