.aboutConent{
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom:2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;    
    width: 80vw;
    height: auto;
    border: solid 0.5px pink;
    padding: 2%;
    list-style-position: inside;
    
}
.about{
    text-align: center;    
    margin-top: 2%;
    margin-left: 8%;
    margin-right:8%;
    margin-bottom:2%;
    padding: 1%;
    color: white;
    font-size: 3vw;
}
.whyUs{
    position: absolute;
}

@media screen and (max-width: 550px) {
    .aboutConent{
        font-size: 3vw;
    }
  }