.aboutConent{
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom:2%;
    
}
.about{
    text-align: center;    
    margin-top: 2%;
    margin-left: 8%;
    margin-right:8%;
    margin-bottom:2%;
}
.whyUs{
    position: absolute;
}
