.aboutConent{
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom:2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    
}
.about{
    text-align: center;    
    margin-top: 2%;
    margin-left: 8%;
    margin-right:8%;
    margin-bottom:2%;
    padding: 1%;
    color: white;
}
.whyUs{
    position: absolute;
}
