.basmati-heading{
    text-align: center;
}
.basmati-subheading{
    text-align: center;
}
.content-info{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;    
    margin-bottom: 2%;
    text-align: left;
}
.rice_product{
    display: flex;
    width: 100%                                                                                                    ;
}
.rice_img{
    margin:2%;
    width: 30%;
    height: 60vh;
}
.rice_product_info{
    width: 66%;
    height: auto;
    height: 80vh;
    padding: 2%;
}
.rice_img img {
    border: red solid 2px; 
    width: 30vw;   
    height: 40vh;
}
.rice_product_description h4{
    text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th{
    width: 20%;
}