/* ._get_in_touch{
    background-color: slategrey;
} */

.touch_form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;
}
.get-in-touch{
    font-family: sans-serif;
    color: blueviolet;
    text-align: center;   
}
._touch{
    padding: 5%;
    width: 50%;
    background-color: darkgreen;
    color:white;
}
.get_touched{
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 2%;
    width: 50%;
    background-color: aquamarine;
    margin-right: 2%;
}
/* .get_touched h3{
    text-align: center;
} */
address{
    font-size:  1.2vw;
}