/* ._get_in_touch{
    background-color: slategrey;
} */

.touch_form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;
}
.get-in-touch{
    font-family: sans-serif;
    color: blueviolet;
    text-align: center;   
}
._touch{
    padding: 5%;
    width: 45%;background: #373B44;  /* fallback for old browsers */background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color:white;
}
.get_touched{
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 2%;
    width: 45%;
    padding-right:5% ;background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin-right: 2%;
    color: ghostwhite;
}
/* .get_touched h3{
    text-align: center;
} */
address{
    font-size:  1.2vw;
}
