*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}
/* body{
  background:linear-gradient(lightblue , white);
} */

header{
    position: relative;
    top: 0;
    left: 0;
}
.upperHeader{
    /* background:linear-gradient(pink , white); */
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
/* z-index: -1; */
}
.logo{
    padding-left: 3%;
    width: 14%;
    height: auto;
    position: relative;        
    /* z-index: 1; */
}
.logo img{
  max-width: 100%;
  padding-top: 1vh;
  padding-bottom: 2vh;
  max-height: auto;  
  transition: transform 2s;  
  transform: scale(1.2,1.2);
}
.company_name{
    font-size: 3vw;
    width:55%;
    height: auto;
    padding-left: 3%;
    padding-top: 0.1vh;
    /* padding-bottom: auto; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: midnightblue;
    /* text-shadow: 2px 2px 2px black;/ */
    transition: transform 2s;
}
.company_name:hover{
  transform: scale(1.1,1.1);
}
.contact_us{    
    width: 25%;
    height: auto;
    
    padding-right: 5%;
}
.contact_us h4{
  /* font: bold; */
    font-size: 2vw;
    /* padding-top: 1vh; */
    font-family:  'Times New Roman', Times, serif;
    color: midnightblue;
    position: relative;
    text-align: center;
    z-index: 1;
}
._social_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social_icon{
    /* display: flex;
    justify-content: space-around; */
    padding: 2px;
    max-width: 4vw;
    max-height: 5vh;
    transition: transform 1s;
    z-index: 1;

    /* z-index: 1; */
}
.social_icon:hover{
    transform: scale(1.5,1.5  );
}

.lowerHeader{
  /* background-image: linear-gradient( grey,pink); */
  background-color: #2697ed;
  width: 100%;
  height: auto;
  z-index: 1;
  /* margin-bottom: 0%; */
}

.lowerHeader nav ul li{

    list-style-type:none;
    font-size: 1.5vw;    
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lowerHeader nav ul li:hover{
    color: midnightblue;
}

nav ul  {
    color: honeydew;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
/* dropdown button */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  list-style-type: none;
  font-size: 1.5vw;
  position: absolute;
  background-color: #f1f1f1;
  width: 9vw;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5%;
  text-decoration: none;
  display: block;
}

dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

nav ul li:hover .dropdown-content {
  display: block;
  
}

.navAncher{
  color:honeydew ;
  text-decoration: none;
}

.navAncher:hover{
color: midnightblue;
text-decoration: none;
}