main{
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  z-index: 1;
  
}
*{
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}
.welcome{
  color: darkgreen;
  font-family: serif;
}
.textContent{
  color: darkolivegreen;
  font-size: 1.5vw;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  /* font:italic; */
}